/**Geral**/
body{
    background-color: #4b693e;
}

/**Estilo do menu**/
#menu {
    position: absolute;
    left: -201px;
    top: 0;
    bottom: 0;
    width: 200px;
    color:white;
    background-color: #394435;
    border: 1px solid rgb(34, 56, 31);
    box-shadow: 2px 2px 3px rgb(59, 90, 65);
    transition: all 200ms ease-out;
    padding-top: 10px;
    text-align: center;
  }
  
  .menu-visivel > #menu {
    left: 0;
  }
  
  .menu-visivel > main {
    left: 200px;
  }
  
  .menu-visivel {
    overflow-x: hidden;
  }
  
  .main {
    position: relative;
    left: 0;
    transition: left 200ms ease-out;
    padding: 0.5em;
  }

  h1{
    color: white;
    text-align: center;
  }

  #alterna-menu{
    margin-top: 10px;
    width: 40px;
    float: left;
    color: white;
    padding: 2px;
    text-align: center;
  }

  #img-recentes{
    width: 200px;
    clear: right;
    float: left;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  #bloco{
    background-color: #a1ad9b;
    float: left;
    width: 250px;
    margin-left: 50px;
  }

  #recentes{
    width: 200px;
  
  }

  #futura-galeria{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  /**ESTILO DOS LINKS**/
  a:link {
    color:rgb(220, 248, 211);
    text-decoration:double
  }
  a:visited{
    color: #a1ad9b;
    text-decoration: none;
  }
