/**Geral**/

body {
    background-image: url(imgs/papel-velho.jfif);
    font-size: 100%;
}



/**animação do relogio**/

  #relogio{
    position: absolute;
    width: 20%;
    animation: flutuando .8s ease-in-out 0s infinite alternate;
  }

  @keyframes flutuando {
    from { right: 20%; top:0%; }
    to   { right: 15%; top:0%; }
  }

/**blocos recentes**/
section {
    padding: 1em 1%;
  }
  #noticias {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  
  article img {
    float: left;
    width: 50%;
    height: auto;
    margin-right: 1em;
  }
  
  article {
    box-sizing: border-box;
    width: 24%;
    margin-right: 1%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1%;
    padding: 0.75em;
    border-radius: 0.5em;
    background-color: #2264;
  }
  

/**ESTILO DOS LINKS**/

a:link {
    color: rgb(48, 48, 48);
  
}

a:hover{
  text-decoration: none;
}

a:visited {
    color: #000000;
}

/**site em telas menores**/
@media (min-width:801px) and (max-width: 1024px) {
    article{
      width: calc(100% / 4);
    }
  }
  
  @media (min-width: 501px) and (max-width: 800px) {
    article{
      width: calc(100% / 3);
    }
  }
  
  @media (max-width: 500px) {
    article{
      width: calc(100%);  
    }
    #container{
        height: 30%;
    }
    #menu-principal>ul{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
}
