#menu-principal ul {
    margin: 0;
    padding: 0.25em 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  #menu-principal li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    transition: all 200ms ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  #menu-principal li:hover {
    background-color: #eeec;
  }
  
  #menu-principal li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: translatex(100%);
    transition: inherit;
  }
  
  #menu-principal li.menu-ativo~li::before {
    transform: translatex(-100%);
  }
  
  #menu-principal li.menu-ativo::before {
    transform: translateX(0);
  }

  nav {
    display: none;
  }
  
  .menu-visivel {
    justify-content: center;
    display: block;
  }
  
  #hamburguer{
    border: 1px black solid;
    padding: 2px;
    border-radius: 3px;
    margin-left: 6%;
    margin-right: 6%;
  }


  
/**titulo redondo**/
  #container{
    margin: auto;
    transform-origin: bottom left;
    transform: rotate(-61deg);
    height: 40%;
    width: 5%;
    text-align: center;
    color: #394435;  
  }
  
  #container div {
    display: inline-block;
    color: #000000;
    height: 100%;
    width: 5%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom center;
  }

  @media (max-width: 500px) {

    #container{
        height: 30%;
    }
    #menu-principal>ul{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
}

/**links**/
a:link {
  color: darkolivegreen;
  font-size: 130%;
}
